body {background-color: #330202; color:#fff; font-family: 'EB Garamond', 'serif'; margin: 0}
h1, h2 {font-family: 'Cinzel Decorative', 'cursive'; color:#d9ba6c}
header {background-color: #161d2d; padding: 1rem}
nav>a {color:#d9ba6c; border: 1px solid #d9ba6c; text-decoration: none; padding: 1rem; font-weight: 800; display: inline-block; margin: 1rem 1rem 1rem 0rem}
nav>a:hover {border-color: transparent; background-color: #d9ba6c; color: #161d2d;}
.sidenav {background-color: #372a76; padding: .5rem 1rem}
.sidenav>a {background-color: #fae2c0; color: #0f0f0f; padding: .5rem 1rem; display: inline-block; margin: .5rem .5rem 0 0; text-decoration: none}
.sidenav>a:hover {opacity: .8}
main {padding: 1rem}
section {padding: 1rem; margin: 1rem 0; border: 1px solid #d9ba6c}
.title {margin: 0; padding: 2rem 1rem; background-color: #5f1818}
h4 {margin: 0}
section {display: grid; grid-template-columns: 12rem 1fr}
section:nth-child(2) {display: block}
section>img {max-height: 10rem}
img {grid-column-start:1; grid-column-end:4; grid-row-start:1; grid-row-end:3}
h3 {grid-column-start:2; grid-column-end:3; grid-row-start:1; grid-row-end:2}
h4 {grid-column-start:2; grid-column-end:3; grid-row-start:2; grid-row-end:3}
p {grid-column-start:1; grid-column-end:3; grid-row-start:4; grid-row-end:5}
.ragnarok section:nth-child(5) {display: block}
/*Media query below should be 1100px. */
@media (min-width:800px) {body{display: grid; grid-template-columns: 20rem auto;} header{grid-row-start: 1; grid-row-end: 2; grid-column-start: 1; grid-column-end: 3;} .sidenav{grid-row-start: 2; grid-row-end: 3; grid-column-start: 1; grid-column-end: 2;} main{grid-row-start: 2; grid-row-end: 3; grid-column-start: 2; grid-column-end: 3;} header{display: flex; justify-content: space-between;} .sidenav>a{display: block; text-align: right;}}
/*You are missing the CSS that is supposed to be inside a 800px media query. Double check instructions.*/