header {background-color: #294CEA; font-family: Georgia, 'Times New Roman', Times, serif; length:50%}
body {background-color: #4D5A96; text-align:center}
img {max-width: 50%; max-height: 50%;}
footer {background-color: #294CEA;}
h3 {font-family: Georgia, 'Times New Roman', Times, serif;}