.square{
    background-color: white;
    height:5rem;
    width:5rem;
    position: absolute;
    left:48%;
    top:48%;
}

body{
    margin: 0;
    background-color: coral;
    overflow: hidden;
}

div
{
    animation-name: moving;
    animation-duration: 4s;
    animation-delay: 2s;
}