body {background-color: #27213C; margin: 0; color: #fff; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}
header {background-color:(39, 33, 60, .70); display: flex; flex-direction: column-reverse; align-items: center}
nav>a {color: #e2512d; text-decoration: none; padding: 1rem 2rem; font-weight: 900; display: inline-block}
nav>a:hover {color: #A33B20; text-decoration: underline}
header {position: fixed; top: 0; width: 100%; z-index: 1}
.animal-background {position: fixed; top: -12rem; width: 200%; left: -51%; height: 50rem; z-index: -1; background-image: url(images/animal.jpg); background-size: cover}
section>h2 {text-align: center; padding: 13rem 0; text-shadow: 2px 2px 2px #27213C; background-size: cover; margin: 0}
section {background-color: #A33B20}
.animals {background-color: transparent}
.sloth>h2 {background-image: url(images/sloth.jpg)}
.elephant>h2 {background-image: url(images/elephant.jpg)}
.owl {background-image: url(images/owl.jpg)}
article {padding: 1rem}
section>span {position: absolute; top: 15rem; font-size: 2rem; left:calc(50% - 11px)}
section>h2 {position: relative}
.accordion {cursor: pointer}
article {display: none}
article.show {display: block}
section>span {transform: rotate(180deg)}
span.roatate {transform: rotate(0)}
